*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 16px - if browser default is 16px */
    font-size: 100%; /* 1rem = 10px - if browser default is 10px */
}
body {
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    width: 100%;
}
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-size: 4.209rem;
    font-weight: normal;
}
p {
    color: #333;
    font-weight: normal;
}