
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-size: 4.209rem;
    font-weight: normal;
}
p {
    color: #333;
    font-weight: normal;
}