
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
h1 {
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-size: 4.209rem;
    font-weight: normal;
    margin: 3rem 0 1.5rem;
}
p {
    border: 3px solid gold;
    color: #333;
    font-weight: normal;
    max-width: 65ch;
}
p + p {
    text-indent: 1rem;
}
p:last-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-columns {
    border: 0;
    column-count: 2;
    column-gap: 2rem;
    column-rule: 3px dotted #ccc;
}