*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* 1rem = 16px - if browser default is 16px */
    font-size: 100%; /* 1rem = 10px - if browser default is 10px */
}
body {
    font-size: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    line-height: 1.5;
}
footer {
    margin-top: auto;
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    width: 100%;
}