<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/layout/floating-elements.css">
    <title>cwm-html-css-pt2 - floating elements</title>
</head>
<body class="floating-elements">
    <article class="tweet">
        <div class="avatar"></div>
        <p>Lorem ipsum dolor sit amet.</p>
    </article>
    <footer><a href="/" style="text-align: right; display: block;">home</a></footer>
</body>
</html>