<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout/media-queries.css">
    <title>cwm-html-css-pt2 - media queries</title>
</head>
<body>
    <div class="container">
        <div class="box">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quod quos eum veniam temporibus et vero perspiciatis blanditiis ipsa, debitis nostrum suscipit, necessitatibus dolore magnam neque animi voluptatibus ullam impedit.
            </p>
        </div>
        <div class="box">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quod quos eum veniam temporibus et vero perspiciatis blanditiis ipsa, debitis nostrum suscipit, necessitatibus dolore magnam neque animi voluptatibus ullam impedit.
            </p>
        </div>
    </div>
    <footer><a href="/" style="text-align: right; display: block;">home</a></footer>
</body>
</html>