
body {
    margin: 10px;
}

.container {
    border: 3px solid lightgrey;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    background: gold;
    margin: 1rem;
    width: 35rem;
    height: 5rem;
    flex: 1 1 15rem;
}

.box-one {
    flex-shrink: 0;
}