
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    padding: 2rem;
}
h1 {
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-weight: normal;
    margin: 0 0 1rem;
}
small {
    font-size: 1rem;
}
form {
    width: 50%;
}